h1 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

p {
  margin-top: 10px;
}

body {
  text-align: center;
}

button {
  margin-top: 10px;
  background-color: #292929;
  color: #ffffff;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
}

/* .individual 요소의 크기를 고정 */
.individual {
  width: 20%;
  margin-right: 5px;
  border: 1px solid #ccc;
  background-color: #292929;
}

/* .individual 요소를 flexbox로 배치 */
/* individual-container를 가운데로 정렬 */
.individual-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
